extends layout
block content
	form
		label(class="control-label") Titulo
		input(type="text")
		br
		label(class="control-label") Tipo de partida
		input(type="text")
		br
		label(class="control-label") Tiempo de respuesta
		input(type="text")
		br
		button(type="submit" class="btn") Crear Partida
		br
		br
		button(type="submit" class="btn") Cancelar